body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
  body {
  background-image: url('./assets/images/images.jpg');
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  border: 5px solid darkblue;  
  outline: 5px solid blue;  
  border-radius: 50px;   
  font-weight: bold;  
  margin: 30px;  
  padding: 30px;  
  outline-offset: 0.5em;  
  font-family: Arial, sans-serif;
  font-size: 40px;
}

button {
  background-color: #52be80;
  color: #white;
  padding: 15px 25px;
  font-size: 20px;
  margin: 10px;
}


.progress-bar {
  height: 20px;
  background: #ddd;
  margin: 20px 0;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  background: #4caf50;
}
